<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en angular - Usualmente en el módulo de common module.
    </p>
</div>

<div class="grid">
    
    <div class="col-4">
        <p-card header="uppercase" 
        [subheader]="lowerName | uppercase">
        {{lowerName | uppercase}}
        </p-card>
    </div>
    
    <div class="col-4">
        <p-card header="lowercase"
        [subheader]="lowerName | lowercase">
        {{lowerName | lowercase}}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="titleCase"
        [subheader]="fullName | titlecase">
        {{fullName | titlecase}}
        </p-card>
    </div>

</div>

<div class="text-layout">
    <h1> Date | Fecha | Pipe</h1>
    <p>
        Pipe para mostrar las fechas.
    </p>
</div>

<div class="grid">
    
    <div class="col-6">
        <p-card>
            <ul>
                <li>Fecha</li>
                <li>Fecha | date</li>
                <li>Fecha | date:'short'</li>
                <li>Fecha | date:'long'</li>
                <li>Fecha | date:'custom'</li>
            </ul>

            <hr>

            <ul>
                <li>fecha | date:'long':'GMT-6'</li>
                <li>fecha | date:'long':'GMT-4'</li>
                <li> fecha | date:'long':'':'es-MX' (Español Mex)</li>
                <li> fecha | date:'long':'':'fr' (Francés)</li>
            </ul>

        </p-card>
    </div>

    <div class="col-6">
        <p-card>
            <ul>
                <li>{{ fecha }}</li>
                <li>{{ fecha | date }}</li>
                <li>{{ fecha | date:'short' }}</li>
                <li>{{ fecha | date:'long' }}</li>
                <li>{{ fecha | date:'hh:mm:s zz G E d w L' }}</li>
            </ul>
            <hr>

            <ul>
                <li>{{ fecha | date:'long':'GMT-6' }}</li>
                <li>{{ fecha | date:'long':'GMT-4' }}</li>
                <li>{{ fecha | date:'long':'':'es-MX' }} (Español Mex)</li>
                <li>{{ fecha | date:'long':'':'fr' }} (Francés)</li>
            </ul>

        </p-card>
    </div>

</div>